<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" parallel="tests" thread-count="2" >
<!-- Parallel Cross-browser testing is done here -->
<test name="TestingOnEdge">
<parameter name="browserName" value="edge"></parameter>
<classes>
<class name="demo_1.Multiple_Browsers"/>
</classes>
</test> 
<test name="TestingOnChrome">
<parameter name="browserName" value="chrome"></parameter>
<classes>
<class name="demo_1.Multiple_Browsers"/>
</classes>
</test> 
</suite>